*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flex{
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: 100%; */

}

.nav{
    position: fixed;
    left: 20px  ;
    width: 15%;
    height: 100vh;
    background-color: rgb(249, 209, 197); 
    margin-bottom: 50px;
    gap: 70px;
    text-align: left;

}

.nav ul{
    display: flex;
    flex-direction: column;
   padding: 20px 0 0 0;
   list-style: none;
   justify-content: center;
   width: 100%;
   text-align: left;
}

.nav li{
    align-items:center ;
    padding: 0.5rem 0;
    background-color: rgb(245, 182, 161);
    padding: 10px 20px;
    /* height: 20px; */
 
}

.nav ul li a{
    text-decoration: none;
}

.nav .active{
    background-color: rgb(249, 209, 197);
    /* border-radius: 7px; */
    padding:  15px 30px;
    width: 100%;
    height: 20px;
    
}
.body{
    width: 80%;
    margin-left: 15%;
}
 
 header{
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    width:100%;
    padding: 20px;
} 

.text{
    height: 30px;
    text-align: center;
    width: 100%;
}

     /* .img{
        margin: 15px;
        width: 300px;
    } */

header img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.all{
    background-color: bisque;
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width: 100%;
    /* box-sizing: border-box; */
    }

    .hide-all{
        display: none;
    }



    .fit{
        width: 300px;
        height: 300px;
    }


.img2 {
    margin-top: 5px;
    height:350px;
    width:350px;
    
}

.img2 img{
    width: 95%;
    height: 92%;
}

h3{
    text-align: center;
}

.first{
    display: flex;
    justify-content: space-around;
    background-color:antiquewhite;
}

.first img{
    height: 55vh;
    width: 40%;
}

.tex{
    height: 30px;
    text-align: right;
    width: 100%;
}

.close{
    display: none;
}

/* styling for login form */

.main h3{
   
    width: 10%;
    margin: 0 auto;
}
.main .form {
    justify-content: center;
    width: 55%;
    margin:0 auto;
    background-color: rgb(238, 196, 255) ;
    opacity: 0.85;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    height: 55%;
   
}


.main .form .form-div{
    display: flex;
margin-bottom: 20px;

}

.main .form .form-div .label{
    width: 30%;
    text-align: left;

}

.main{
    display: flex;
    justify-content: center;
    border: 2px double cornflowerblue;
    background-image: url(../images/image.png); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: ; */
    top: 0;
    height: 60vh;
}

/* sign up page */
.marn{
    display: flex;
    border: 2px double cornflowerblue;
    background-image: url(../images/background2.jpg); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    /* position: ; */
    top: 0;
    height: 60vh;
}

.marn .form {
    justify-content: center;
    width: 50%;
    margin:0 auto;
    background-color: rgb(237, 201, 142) ;
    opacity: 0.85;
    margin: 20px 0;
    padding: 20px;
    border-radius: 7px;
   
}

.marn .form .form-div{
    display: flex;
margin-bottom: 20px;
/* align-items:end; */
}

.form-div-sub{
width: 100%;
text-align: center;
}

.marn .form .form-div .label{
    width: 30%;
    text-align: left;
/* align-items:end; */
}

/* contact us page */
.maint{
    border: 2px double cornflowerblue;
    background-image: url(../images/contact.webp); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    /* position: ; */
    top: 0;
    height: 80vh;
}

.maint .form {
    justify-content: center;
    width: 50%;
    margin:0 auto;
    background-color: rgb(250, 214, 255) ;
    opacity: 0.71;
    margin-top: 20px;
    padding: 20px;
    border-radius: 7px;
}

.maint .form .form-div{
    display: flex;
margin-bottom: 20px;
justify-content: center;
/* align-items:end; */
}

.maint .form .form-div .label{
    width: 30%;
    text-align: left;
/* align-items:end; */
}

   /* about us page */
    .about{
        font-size: 25px;
    }

    .pic{
        width: 350px;
        height: 350px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
       
    /* background-size: 33%;  */
}

/* div .pic{
    border: 30px solid peachpuff;/

} */
   .process{ 
    background-color: rgb(249, 214, 170);
    background-image: url(../images/fabric\ selection.jpg);
     background-size: 40%; 
     background-position: right;
    background-repeat: no-repeat;
    color:rgb(112, 83, 83);
    font-size: 40px;
    background-position: contain;
    /* height: 48vh; */
   }
   

 
   .process div{
    width:50%;
    text-align: left; 
    font-size: 30px;
    margin-right: 43%;
   }

   .fitting{ 
    margin-top: 2px;
    background-color: antiquewhite;
    background-image: url(../images/fitted.jpg);
    /* background-size: cover; */
    background-size: 35%; 
    background-repeat: no-repeat;
    /* height: 80vh; */
    color:rgb(112, 83, 83);
    font-size: 30px;
     align-items: right ;
   }

   .fitting div{
    width: 55%;
    /* height: 75%; */
    margin-left: 40%;
    text-align: left;
   }

   .fitting .pic-div{
    height: 450px;
    width: 35%;
   }

   .fitting .pic-div2{
    height: 450px;
    width:400px;
   }

   .section{
    background-image: url(../images/service.jpg);
    background-color: rgb(255, 226, 212);
    background-position: right;
    /* background-size: cover; */
    height: 60vh;
    color:rgb(112, 83, 83);
    margin-top: 2px; 
    background-size: 50%;
    background-repeat: no-repeat;
    margin-left: 45;
    }

    /* orderpage */
    .order{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 233, 233);
    }

    .imorder{
        width: 30%;
    }

    .textorder{
        /* margin: 30px 0 0 0; */
        padding:5px 15px;
        text-align: left;
        width: 100%;
        gap: none;
    }

    .textord{
        margin: 30px;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 30%;
        justify-content: space-between;
    }

    .textorde{
        margin: 45px;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 30%;
        gap: 50px;
        justify-content: space-between;
        
    }

   .footer{
    padding: 5px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between; 
    background-color: rgb(254, 241, 231 );

    }

    /* all styling for elements in JS */
    .black{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        /* margin-top: 50px; */
        /* text-align: justify; */
        /* justify-content: center; */

    }